h1 {
    font-size: 40px;
    color: purple;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: blue;
}

p {
    font-size: 15px;
}
h3 {
    font-size: 20px;
    color: plum;
}
h4 {
    font-size: 20px;
    color: hotpink;
}
h5{
    color: chartreuse;
    font-size: 30px;
        
}
